body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: black url("images/bg3.jpg") no-repeat top/cover;
}

header {
    position: relative;
    height: 15%;
    width: 100%;
    
}

h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 35px;
    left: 50px;
    width: 80px;
    height: 80px;
}

h1 img {
    width: 80px;
    height: 80px;
}


#hamburger {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 40px;
    height: 40px;
}

#hamburger img {
    width: 40px;
    height: 40px;
}




/************************************************************
MAIN*/
main {
    color: white;
    font-family: helvetica, sans-serif;
    position: relative;
    width: 70%;
    height: 85%;
    overflow: hidden;
    margin: 0 auto;
}
main>section{
    position: relative;
}
main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #000;
    opacity: 0.8;
}

.sec{
    margin-top: 50px;
}

section {
    overflow: hidden;
    width: 1100px;
    height: 250px;
    outline: 1px solid cyan;
    margin: 170px auto 50px;
}


section .image {
    float: left;
    width: 350px;
    height: 250px;
    /*outline: 1px solid cyan;*/
    margin: 0;
}

section .description {
    float: right;
    /*outline: 1px solid cyan;*/
    width: 60%;
    height : 200px;
    margin: 20px 40px 20px 0;
    display: flex;
    align-items: center;
    line-height: 28px;
}


section #lightImg {
    background: url(images/exhibition1.jpg) no-repeat center/cover;
}

section #paperImg {
    background: url(images/exhibition2.jpg) no-repeat center/cover;
}



