body, html {
    width: 100%;
    height: 130%;
    padding: 0;
    margin: 0;
}

body {
    background: url(../src/images/bg3.jpg) no-repeat top/cover;
    overflow: scroll;
}

div#container {
    width: 1400px;
    height: 1500px;
    margin: 0 auto;
}

header {
    position: relative;
    height: 15%;
    width: 100%;
}

header h1 {
    position: absolute;
    margin: 0 45%;
    padding: 0;
    top: 70px;
    left: 0;
    width: 160px;
    height: 80px;
}

header h1 img {
    width: 160px;
    height: 80px;
}



/************************************************************
MAIN*/
main {
    color: #333;
    font-family: helvetica, sans-serif;
    position: relative;
    width: 1400px;
    height: 85%;
    overflow: hidden;
    margin: 0 auto;
}
main>section{
    position: relative;
}
main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
}

section.sec{
    margin-top: 70px;
}

section {
    overflow: hidden;
    width: 950px;
    height: 200px;
    /*outline: 1px solid cyan;*/
    margin: 300px auto 70px;
    border-radius: 100px;
    box-shadow: 0 5px 20px 0px rgba(0,0,0,0.2);
}


.hoverBox div.image {
    float: left;
    width: 280px;
    height: 200px;
    /*outline: 1px solid cyan;*/
    margin: 0;
}

div.description {
    float: right;
    /*outline: 1px solid cyan;*/
    width: 670px;
    height: 200px;
    margin: 0;
    padding: 50px 60px 40px 60px;
    box-sizing: border-box;
    line-height: 26px;
    font-weight: 200;
    background-color: white;
}


section #lightImg {
    background: url(../src/images/exhibition1.jpg) no-repeat center/cover;
}

section #paperImg {
    background: url(../src/images/exhibition2.jpg) no-repeat center/cover;
}

section #pinImg {
    background: url(../src/images/exhibition3.jpg) no-repeat right/100% 100%;
}



h2 {
    position: absolute;
    font-size: 48px;
    left: 0;
    top: 150px;
    margin: 0 35%;
}

h3 {
    padding: 0;
    margin: 5px 0 14px;
    font-size: 24px;
}


/****************************************************
INFOMATION ANIMATION*/


.info {
    position: absolute;
    left: 280px;
    top: 0;
    width: 670px;
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 60px;
    box-sizing: border-box;
    color: white;
    line-height: 36px;
    margin: 0;
}



section>div.hoverBox {
    position: absolute;
    width: 280px;
    height: 200px;
    overflow: hidden;
    transition: all 1s ease-in-out;
}


section>div.hoverBox:hover {
    width: 950px;
}

section>div.hoverBox:hover  {
    width: 950px;
}